{% comment %}
** Product snippet - only used as AJAX reference for recently viewed **
{% endcomment %}
{%- assign max_height = 350 -%}
<div class="js-recently-viewed-product">
  {% include 'product-card-grid' %}
  </div>
</div>